*{
    margin: 0px auto;
}

.films .name{
    position: relative;
    top: 120px;
    left: 140px;
    margin: 10px 10px 10px 10px;
    display: block;
    width: 140px;
    height: 170px;
    background-color: rgb(177, 39, 39);
    color: white;
    text-align: left;
    font-size: 20px;
}

.shows img{
    display: inline;
    position: relative;
    margin: 10px 10px 10px 10px;
    bottom: 428px;
    left: 320px;
    width: 140px;
    height: 170px;
}