*{
    margin: 0px auto;
}
.total{
    height: 1000px;
}
.first{
     width: 100%;
     height: 100%;
    background-color: transparent;
    background-image: url('img.jpg');
     filter: brightness(40%);
}

.head{
    position: relative;
    padding-top: 10px;
    bottom: 100%;
   
}

 .header p{
     padding-left: 20px;
    text-align: left;
  font-family: 'Roboto';
  font-size: 8vmin;
  font-weight: 700;
  outline: none;
  white-space: nowrap;
  color: #e50914;
  
}
 .button button{
    position: relative;
    bottom: 50px;
    left: 1350px;
     color: white;
     background-color: #e50914;
     width: 100px;
     height: 40px;
     border-color: rgba(47, 57, 58, 0.78) ;
     border-radius: 4px;
}

.select select{
    background-color:inherit;
    color: white;
    font-size: 20px;
    position: relative;
    bottom: 90px;
    left: 1200px;
    width: 120px;
    height: 40px;
    border-radius: 4px;
    border-color: white;
}

.Text{
    display: block;
    position: relative;
    color: white;
    text-align: center;
    bottom: 900px;
    right: 50px;
    width: 550px;
    
}

.Text .txt{
    font-family:  'Noto Sans Display', sans-serif;
    font-size: 25px;
}

.Text .txt1{
    font-size: 60px;
    padding-top:10px ;
}

.Text .txt2{
    padding-top: 10px;
    font-size: 30px;
    padding-bottom: 10px;
}

.Text .registr button{
    background-color: #e50914;
    color: white;
    width: 400px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border-radius: 5px;
    border-color: black;
}


.line{
    position: relative;
    bottom: 10px;
    border-bottom: 8px solid #222;
    height: 10px;
}
.second{
    position: relative;
    bottom: 10px;
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 600px;
}

.descr{
    position: relative;
    right: 320px;
    top: 120px;
    width: 500px;
}

.text4{
    font-size: 3.125rem;
    line-height: 1.1;
    margin-bottom: .5rem;
    color: white;
}
.text5{
    color: white;
    font-size: 1.625rem;
    font-weight: 400;
}

.telik{
position: relative;
bottom: 200px;
left: 300px;
}

.telik .video{
    position: relative;
    z-index: 1;
    bottom: 385px;
    left: 70px;
}

.telik .img{
    position: relative;
    z-index: 2;
    max-width: 100%;
    height: auto;
    border: 0;
}
